.env
/wp-blog-header.php
/wp-links-opml.php
/wp-admin/
/wp-includes/
/wp-mail.php
/wp-cron.php
/wp-activate.php
/readme.html
/xmlrpc.php
/wp-signup.php
/wp-trackback.php
/wp-settings.php
/wp-login.php
/index.php
/wp-comments-post.php
/wp-content/
/wp-load.php
/license.txt
/vendor/
wp-config-sample.php
